RewriteEngine On
RewriteBase /api

# Set your MongoDB Atlas URI here
# SetEnv MONGODB_URI "mongodb+srv://USERNAME:PASSWORD@cluster.mongodb.net/purchase_approval?retryWrites=true&w=majority"

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
